@model List<OnlineShopingStore.DAL.Tbl_Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
  

  
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Categorys
            <a href="@Url.Action("UpdateCategory", "Admin")" class="btn btn-info pull-right fa fa-plus">Add New</a>
            @*@Html.ActionLink("Add New Category", "UpdateCategory", "Admin", new { categoryId = 0 }, new { @class = "btn btn-primary pull-right" })*@

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category Name</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    @*<tfoot>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category Name</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>*@
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@(Model.IndexOf(item)+1)</td>

                                <td>@item.CategoryName</td>
                                <td>
                                    <a href="@Url.Action("CategoryEdit", "Admin", new { catId = item.CategoryId })" class="btn btn-primary btn-sm">Edit</a>
                                    @*@Html.ActionLink("Edit", "CategoryEdit", new { catId = item.CategoryId })*@
                                    @*<a href="@Url.Action("CategoryDelete", "Admin", new { catId = item.CategoryId })"
        onclick="return confirm('Are you sure you want to delete this category?');"
        class="btn btn-danger btn-sm">Delete</a>*@
                                    <a href="@Url.Action("CategoryDelete", "Admin", new { id = item.CategoryId })"
                                       onclick="return confirm('Are you sure you want to delete this category?');"
                                       class="btn btn-sm btn-danger">Delete</a>

                                </td>


                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

