@model OnlineShopingStore.Models.DashboardViewModel
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Dashboard
        </div>
        <div class="card-body">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <div class="row">
                    <div class="col-md-3">
                        <a href="@Url.Action("Categories", "Admin")" class="text-decoration-none ;style="color: black;">
                            <div class="card p-3 mb-3 " style="color: black;">
                                <h4>Total Categories</h4>
                                <h3>@Model.TotalCategories</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="@Url.Action("Product", "Admin")" class="text-decoration-none ;style="color: black;">
                            <div class="card p-3 mb-3 " style="color: black;">
                                <h4>Total Products</h4>
                                <h3>@Model.TotalProducts</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("GenreDetail", "Admin")" class="text-decoration-none ;style="color: black;">
                            <div class="card p-3 mb-3 " style="color: black;">
                                <h4>Total Genres</h4>
                                <h3>@Model.TotalGenres</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="@Url.Action("Orders", "Admin")" class="text-decoration-none ;style="color: black;">
                            <div class="card p-3 mb-3 " style="color: black;">
                                <h4>Total Orders</h4>
                                <h3>@Model.TotalOrders</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("Users", "Account")" class="text-decoration-none ;style="color: black;">
                            <div class="card p-3 mb-3 " style="color: black;">
                                <h4>Total Users</h4>
                                <h3>@Model.TotalUsers</h3>
                            </div>
                        </a>
                    </div>

                </div>

            </table>
        </div>

    </div>
</div>

