@model List<OnlineShopingStore.DAL.Tbl_Genre>

@{
    ViewBag.Title = "Genre";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

    <div class="card mb-3">
        <div class="card-header">

           
                <i class="fa fa-table"></i> Genre

                <a href="@Url.Action("GenreAdd", "Admin")" class="btn btn-info pull-right fa fa-plus">Add New</a>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Genre Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            int i = 1;
                            foreach (var genre in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@genre.GenreName</td>
                                    <td>
                                        @*<a href="@Url.Action("GenreEdit", "Admin", new { id = genre.GenreId })">Edit</a>*@
                                        <a href="@Url.Action("GenreEdit", "Admin", new { id = genre.GenreId })" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="@Url.Action("GenreDelete", "Admin", new { id = genre.GenreId })"
                                           onclick="return confirm('Are you sure you want to delete this genre?');"
                                           class="btn btn-danger btn-sm">Delete</a>


                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center">No genres found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    @*</div>*@
