@model OnlineShopingStore.DAL.Tbl_User

@{
    ViewBag.Title = "Edit Profile";
}
<div class="container">
    <h2>Edit Profile</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Input</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label" })</td>
                    <td>
                        @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })</td>
                    <td>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })</td>
                    <td>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label" })</td>
                    <td>
                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })</td>
                    <td>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="text-center">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
