@model OnlineShopingStore.DAL.Tbl_User

@{
    ViewBag.Title = "User Profile";
}
<div class="container-fluid">
    <h2>User Profile</h2>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Full Name</th>
            <td>@Model.Fullname</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>@Model.Password</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>@Model.Contact</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>
    </table>
    <a href="@Url.Action("EditProfile", "Account")" class="btn btn-warning">Edit Profile</a>
    <a href="@Url.Action("MyOrders", "Account")" class="btn btn-primary">View My Orders</a>

</div>