@model OnlineShopingStore.Models.PaymentViewModel
@{
    ViewBag.Title = "Make a Payment";
}

<div class="container">
    <h2>Make a Payment</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Input</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.CardHolderName)</td>
                    <td>
                        @Html.TextBoxFor(m => m.CardHolderName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CardHolderName)
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.CardNumber)</td>
                    <td>
                        @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control", maxlength = "16", type = "text" })
                        @Html.ValidationMessageFor(m => m.CardNumber)
                    </td>
                </tr>


                <tr>
                    <td>@Html.LabelFor(m => m.ExpiryDate)</td>
                    <td>
                        @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control", placeholder = "MM/YY" })
                        @Html.ValidationMessageFor(m => m.ExpiryDate)
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.CVV)</td>
                    <td>
                        @Html.TextBoxFor(m => m.CVV, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CVV)
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Submit Payment</button>
    }
</div>
