@model OnlineShopingStore.Models.PaymentViewModel
@{
    ViewBag.Title = "Make a Payment";
}
<div class="container">
    <h2>Make a Payment</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.CardHolderName)
            @Html.TextBoxFor(m => m.CardHolderName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CardHolderName)
        </div>

        @*<div class="form-group">
                @Html.LabelFor(m => m.CardNumber)
                @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CardNumber)
            </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.CardNumber)
            @Html.TextBoxFor(m => m.CardNumber, new
            {
                @class = "form-control",
                maxlength = "16",
                minlength = "16",
                pattern = "\\d{16}",
                placeholder = "Enter 16-digit card number",
                oninput = "this.value = this.value.replace(/[^0-9]/g, '').slice(0,16);"
            })
            @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ExpiryDate)
            @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control", placeholder = "MM/YY" })
            @Html.ValidationMessageFor(m => m.ExpiryDate)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CVV)
            @Html.TextBoxFor(m => m.CVV, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CVV)
        </div>

        <button type="submit" class="btn btn-success">Submit Payment</button>
    }

</div>

